* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--webkit-font-smoothing: antialiased;
	--moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

.hero {
	width: 100%;
	height: 100vh;
	background-image: url(images/bg-5.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.logo {
  width: 180px;
  cursor: pointer;
}

.navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1.5px solid #fff;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

.content {
  color: #fbfcfd;
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

h1 {
  font-size: 82px;
  margin: 20px 0px 30px;
  line-height: 80px;
}

.side-bar {
  width: 60px;
  height: 100vh;
  background: linear-gradient(#005C97, #363795);
  position: absolute;
  right: 0;
  top:0;
}

.menu {
  display: block;
  width: 30px;
  margin: 40px auto 0;
  cursor: pointer;
}

.social-links img, .usefull-links img {
  width: 30px;
  margin: 5px auto;
  cursor: pointer;
}

.social-links{
  width: 60px;
  text-align: center;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.usefull-links{
  width: 60px;
  text-align: center;
  position: absolute;
  bottom: 35px;
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}

.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position:absolute;
  bottom: -70px;
}

@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  30%{
    opacity: 0.75;
  }
  30%{
    opacity: 1;
  }
  50%{
    opacity: 1.5;
  }
  70%{

    opacity: 1.75;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0.25;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 35px;
}
.bubbles img:nth-child(2){
  animation-delay: 1s;
  width: 55px;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 65px;
}
.bubbles img:nth-child(4){
  animation-delay: 4s;
  width: 55px;
}
.bubbles img:nth-child(5){
  animation-delay: 3s;
  width: 40px;
}
.bubbles img:nth-child(6){
  animation-delay: 5s;
  width: 60px;
}
.bubbles img:nth-child(7){
  animation-delay: 6s;
  width: 75px;
}
.bubbles img:nth-child(8){
  animation-delay: 5s;
  width: 55px;
}